* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/desktop-wallpaper-premium-wave-abstract-purple-wave-animation-seamless-loop-purple-technology-background.jpg)
      center/cover fixed no-repeat;
  overflow-x: hidden;
}

.divider {
  border: 1px solid white;
  margin: 50px 100px;
  box-shadow: 1px 1px #888888;
}

h1 {
  text-underline-offset: 15px;
  color: #d2b6ff;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 100px;
  text-align: center;
  text-shadow: 0.25rem 0.25rem 0.625rem rgba(120, 74, 250, 0.4),
    -0.25rem -0.25rem 0.625rem rgba(120, 74, 250, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(41, 8, 103);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(12, 4, 27);
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: none;
}
