.faq-container {
  text-align: center;
  margin: 20px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.faq-item {
  width: 100%;
  max-width: 800px;
  margin: 15px 0;
  cursor: pointer;
}

.faq-question {
  background-color: #2b2b2b;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  display: none;
  background-color: #444;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.faq-answer.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow {
  transition: transform 0.3s;
  display: inline-block;
}

.arrow.active {
  transform: rotate(180deg);
}